In [16]:
import pandas as pd

dados = pd.read_csv('aluguel.csv' ,sep = ';')

tipos_imoveis = dados['Tipo']

tipos_imoveis.drop_duplicates(inplace=True)

tipos_imoveis.index = range(tipos_imoveis.shape[0])

tipos_imoveis.index
x = pd.DataFrame(tipos_imoveis)
x.columns.name = 'id'
x

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [17]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]

s = pd.Series(data)


index = ['ROW'+ str(i) for i in range(10)]

s = pd.Series(data = data, index = index)
s

ROW0     1
ROW1     2
ROW2     3
ROW3     4
ROW4     5
ROW5     6
ROW6     7
ROW7     8
ROW8     9
ROW9    10
dtype: int64

In [18]:
import pandas as pd
data = [[1,2,3],[4,5,6],[7,8,9]]


df1 = pd.DataFrame(data = data)

index = ['linha'+ str(i) for i in range(3)]
columns = ['coluna'+ str(i) for i in range(3)]

df1 = pd.DataFrame(data = data, index = index, columns=columns)
data2 = [[11,22,3],[4,53,6],[7,84,9]]
df2 = pd.DataFrame(data = data2, index = index, columns=columns)

df3 = pd.concat([df1,df2])
df3

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9
linha0       11       22        3
linha1        4       53        6
linha2        7       84        9

In [19]:
df4 = pd.concat([df1,df2], axis = 1)
df4

        coluna0  coluna1  coluna2  coluna0  coluna1  coluna2
linha0        1        2        3       11       22        3
linha1        4        5        6        4       53        6
linha2        7        8        9        7       84        9

In [23]:
##RELATORIO DE ANALISE 2
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep =';')

list(dados['Tipo'].drop_duplicates())


residencial = [
'Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila'
 ]


selecao = dados['Tipo'].isin(residencial)


dados_residencial = dados[selecao]
# dados_residencial.shape[0](ver tamanho)

dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial.to_csv('aluguel_residencial.csv', sep = ';', index= False)

dados_residencial2 = pd.read_csv('aluguel_residencial.csv', sep= ';')
dados_residencial2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [15]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10

In [46]:
##Relatorio de analise IV
import pandas as pd

data = pd.read_csv('aluguel_residencial.csv', sep = ';')

# # Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1



# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2


# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao = (dados['Area'] >= 60) & (dados['Area'] <=100)
n3= dados[selecao].shape[0]
n3


# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 10187
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 43

In [48]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])
alunos

     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
1   Cátia     27    F    2.5     False
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
4   Bruna     42    F    8.2      True
5    Dara     21    F    7.0      True
6  Carlos     19    M    6.0     False
7   Alice     35    F    5.6     False

In [56]:
##Tratamento de dados faltantes
# relatorio de analise V
import pandas as pd
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados[dados['Valor'].isnull()]


selecao = (dados['Tipo']=='Apartamento') & (dados['Condominio'].isnull())
A = dados.shape[0]
dados = dados[-selecao]
B = dados.shape[0]
A - B

KeyError: 'condominio'

In [69]:
import pandas as pd

dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados[dados['Condominio'].isnull()].shape[0]
dados.dropna(subset = ['Valor'], inplace = True)

dados = dados.fillna({'Condominio': 0,'IPTU': 0 })
# dados

dados[dados['Condominio'].isnull()].shape[0]
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  22571 non-null  float64
 8   IPTU        22571 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [15]:
import pandas as pd

dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

dados['Valor M2'] = dados['Valor'] / dados['Area']
dados['Valor M2'] = dados['Valor M2'].round(2)
dados['Valor Bruto m2'] = dados['Valor Bruto'] / dados['Area']
dados['Valor Bruto m2'] = dados['Valor Bruto m2'].round(2)
casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')
dados_aux = pd.DataFrame(dados[['Tipo Agregado','Valor M2','Valor Bruto', 'Valor Bruto m2' ]])
dados_aux.pop('Valor Bruto m2')
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)
dados.to_csv('aluguel_residencial.csv', sep = ';', index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'dados/aluguel_residencial.csv'

In [13]:
import pandas as pd
dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'dados/aluguel_residencial.csv'